<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "style.css">
    <title>Document</title>
</head>
<body>

    <h1>INPUT DATA HERE!</h1>
    <form action="/layover" method = "POST">
        <label for= "layoverTime">Layover Time (hours) : </label>
            <input type="text" id = "layoverTime" name = "layoverTime">

        <br>
        <label for = "airportCode">Airport Code: </label>
            <input type = "text" id = "airportCode" name = "airportCode">
        <br>
        <!-- <input type = "submit" value = "Submit"> -->
    </form>
    
</body>
</html>