<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>INPUT DATA HERE!</h1>
    <form action="#" method = "POST">
        <label for= "arrivalTime">Arrival Time: </label>
            <input type="time" id = "arrivalTime" name = "arrivalTime" required>
        <br>
        <label for = "departureTime">Departure Time: </label>
            <input type ="time" id = "departureTime" name = "departureTime" required>
        <br>
        <label for = "startDate">Start Date: </label>
            <input type="date" id = "startDate" name = "startDate" required>
        <br>
        <label for = "endDate">End Date: </labe>
            <input type = "date" id = "endDate" name = "endDate" required>
        <br>
        <input type = "submit" value = "Submit">
    </form>
    
</body>
</html>